@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body
{
  display: flex;
  flex-direction: column;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #ccc;
}

header a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  margin: 10px;
  font-size: 15px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

select {
  width: 200px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  margin: 10px 0;
}

table{
	width: 50%;
	background-color: #e3e1e1;
	border: 1px solid black;
}

tr{
	display: flex;
    flex-direction: row;
	justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

form button {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  margin: 10px;
  font-size: 15px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}